{% extends "base.html" %}



{% block main %}

{% if error %}
        <p class=error><strong>Error:</strong> {{ error }} </p>
{% endif %}
    <div class="container" ng-controller="defaultController">
        <br><h4>Please select an image for your thumbnail</h4><br>
        <form method="post" action="api/user/<id>/wishlist/imgurl" enctype="multipart/form-data">
        {% for image in images %}
            <img src="{{image}}" height="100" width="100" name="url_image"  id="url_image" ng-click="appClickEvent($event)"/>
        {% endfor %}
        </form>
    </div>
    <script src="/static/js/app.js"></script>

{% endblock %}