{% extends 'base.html' %}

{% block main %}
<div class="page-header">
    <h1>Add User Information</h1>
</div>
<form method="POST" action="/profile/" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div>
    {{ form.image.label }} {{ form.image }}
    </div>
    <br>
    <div>
    {{ form.firstname.label }} {{ form.firstname(size=15) }}
    </div>
    <br>
    <div>
    {{ form.lastname.label }} {{ form.lastname(size=30) }}
    </div>
    <br>
    <div>
    {{ form.age.label }} {{ form.age(size=3) }}
    </div>
    <br>
    <div>
    {{ form.sex.label }} {{ form.sex}}
    </div>
    <br>
    <input type="submit" value="submit">
</form>
{% endblock %}