{% extends "base.html" %}

{% block main %}
<div >

		<div class="col l3">&nbsp</div>
			{{delete}}
			<div class="col s12 m7 l6">
	          <div class="card">
	            <div class="card-image">
	              <img src="{{href}}">
	               <span class="card-title">Delete from wishlist</span>
	            </div>
	            <form method="POST" action="#">
	            <div class="card-content">
				
	            </div>
	            <div class="card-action">
	            <center>
	            
	            <input type="submit" value="Delete" class="btn">
	           
	             
	            </center>
	           </div>
	           </form>
	        </div>
	   </div>
<div class="col l3">&nbsp</div>

{% endblock %}