{% extends "base.html" %}


{% block css %}
<style type="text/css">
body{
    padding-top: 40px;
  }
  
.content {
    width: auto;
    overflow: hidden;
}
.c1 {
    overflow: hidden;
}
</style>
{% endblock %}


{% block main %}
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }} </p>
    {% endif %}

<div class="content">
    <div class="c1">
        <h3>Welcome {{profile.firstname}} {{profile.lastname}}</h3>
        <h4>Please select an option below: </h4>
        <a href="/api/user/{{profile.id}}/wishlist">Add a wish to your wishlist.</a><br><br>
        <a href="/api/user/{{profile.id}}/wishlists/remove">Remove a wish from your wishlist.</a><br><br>
        <a href="/api/user/{{profile.id}}/wishlists">View your wishlist.</a><br><br>
      
        <a href="{{ url_for('logout') }}">Logout</a></li>
    </div>
    
    <script type="text/javascript">
        localStorage.setItem('userid', {{ profile.id }});
    </script>
</div>
{% endblock %}