{% extends 'base.html'%}

{% block main %}
<div ng-controller="emailController">
    <div>
        <h1>Your Wishlist</h1>
        {% raw %}
        <div class="alert alert-success" ng-show="emailSent">
            Your Wishlist was successfully shared!!!
        </div>
        
        {% endraw %}
        <br>
        <div>
            <form action="" method="POST">
                <button type="submit" class="btn btn-success">JSON THIS!!!</button>
            </form>
        </div>
        <div>
                {% for user_wishlist in wishlist %}
                    <div>
                        <b>Title: </b> {{user_wishlist.title}}
                    </div>
                     <div>
                         <b>Description: </b> {{user_wishlist.description}}
                    </div>
                     <div>
                         <b>URL: </b> {{user_wishlist.description_url}}
                    </div>
                    <div> 
                        <b>Image URL:</b> <img src = "{{user_wishlist.image_url}}" alt="Photo of {{user_wishlist.title}}" />
                    </div>
                {% endfor %}
        </div>
        <div>
             <button type= "button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Share by Email</button>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Share Wishlist</h4>
      </div>
      <div class="modal-body">
          <form>
              <input type="text" placeholder="Enter Email Address" ng-model = "email" ><br />
          
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click = "sendEmail()" class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}